In [1]:
# id -PEZfbpTlWWGLBiLLGGRiBaKK
#secert- eY0ZPBbt4zPqfrFpyr4fQ29q9lyaitNMb_sGQr2.9XmCI1ezZ_GXmimb-IjKwWBC4PYW0nJkvGdDTbA1X,R-WRuiMiW2U073fGNuTcdCEXU,IP,0oz+f_Rw0gWo5nNP2

In [3]:
import cassandra
print (cassandra.__version__)

3.25.0

In [4]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'C:/Users/aditya/Downloads/secure-connect-task-1.zip'
}
auth_provider = PlainTextAuthProvider('PEZfbpTlWWGLBiLLGGRiBaKK', 'eY0ZPBbt4zPqfrFpyr4fQ29q9lyaitNMb_sGQr2.9XmCI1ezZ_GXmimb-IjKwWBC4PYW0nJkvGdDTbA1X,R-WRuiMiW2U073fGNuTcdCEXU,IP,0oz+f_Rw0gWo5nNP2')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider,control_connection_timeout=200,idle_heartbeat_interval=300,schema_event_refresh_window=200,topology_event_refresh_window=100,connect_timeout=500)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6816

In [24]:
x=session.execute('select * from aditya.xyz')
m=[]
a=[]
b=[]
c=[]
d=[]
e=[]
f=[]
g=[]
for i in x:
    m.append(i[0])
    a.append(i[1])
    b.append(i[2])
    c.append(i[3])
    d.append(i[4])
    e.append(i[5])
    f.append(i[6])
    g.append(i[7])
    # m.append(i[7])

In [25]:
import pandas as pd

data=pd.DataFrame({'sno':m,'age':a,'sex':b,'bmi':c,'children':d,'smoker':e,'region':f,'expense':g})
data.head()

   sno  age     sex   bmi  children smoker     region   expense
0  593   20    male  31.1         2     no  southeast   2566.47
1  536   38    male    28         1     no  northeast   6067.13
2  602   51    male  31.6         0     no  northwest   9174.14
3  924   34    male  35.8         0     no  northwest   4320.41
4  802   64  female    36         0     no  southeast  14313.85

In [26]:
import logging as lg 
import os
# os.mkdir("logging")

In [6]:
lg.basicConfig(filename='test.log' , level = lg.INFO )

In [7]:
lg.info("CLOUD ACCOUNT CREATED")
lg.info("CONNECTIVITY ESTABLISED USING A GCP CLUSTER")
lg.info("DATA LOADED TO CLOUD ACCOUNT")
lg.info("DATA LOADED INTO LOCAL ACCOUNT")

In [8]:
pwd()

'c:\\Users\\aditya\\Desktop\\LifePY\\INTERNSHIP_TASK\\DATABASE_CONNECTIVITY'

In [27]:
data.head()

   sno  age     sex   bmi  children smoker     region   expense
0  593   20    male  31.1         2     no  southeast   2566.47
1  536   38    male    28         1     no  northeast   6067.13
2  602   51    male  31.6         0     no  northwest   9174.14
3  924   34    male  35.8         0     no  northwest   4320.41
4  802   64  female    36         0     no  southeast  14313.85

In [28]:
data.to_csv("data.csv")

In [13]:
lg.info("ETL WAS COMPLTED AND LOADED ,DATA WAS SMALL IS SIZE SO STORINTG IT IN LOCAL")